<a href="https://www.facebook.com/centerlex.ua/" target="_blank"><i class="fa fa-facebook mysocial_style"></i></a>
<a href="https://twitter.com/CenterLex" target="_blank"><i class="fa fa-twitter mysocial_style"></i></a>
<a href="https://plus.google.com/u/0/b/114483206169411000769/114483206169411000769/about/p/pub" target="_blank"><i class="fa fa-google-plus mysocial_style"></i></a>
<a href="https://www.linkedin.com/company/адвокатская-компания-центр-лекс?trk=biz-companies-cym" target="_blank"><i class="fa fa-linkedin mysocial_style"></i></a>