==
<section class="call-to-action-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dtc icon-box">
                    <i class="icon icon-Phone2"></i>
                </div>
                <div class="dtc text-one">
                    <h3>Безкоштовна консультацію: <span class="number">+38 093 910-26-50</span></h3>
                </div>
                <div class="dtc text-two">
                    <h4>7 днів у тиждень З : 8.00 до 19.00</h4>
                </div>
            </div>
        </div>
    </div>
</section>