==
<div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="welcome-attorney">
                    <div class="section-title">
                        <h1><span>Welcome to our attorney</span></h1>
                    </div>
                    <div class="welcome-text">
                        <p>Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion consectetur elit. Vesti bulum nec odio ipsum. </p>
                    </div>
                    <div class="fix civil-titigation">
                        <div class="fix civil-img-holder alignleft">
                            <img src="/themes/center-lex/assets/img/civil.jpg" alt="">
                        </div>
                        <div class="fix civil-text">
                            <h4>civil litigation</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur elit. Vesti bulum nec odios Suspe ndisse cursus.</p>
                            <a href="">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="our-law">
                    <img src="/themes/center-lex/assets/img/family-law.jpg" alt="">
                    <h4>family Law</h4>
                    <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis.</p>
                    <a href="">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="our-law">
                    <img src="/themes/center-lex/assets/img/busisness-law.jpg" alt="">
                    <h4>business law</h4>
                    <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis.</p>
                    <a href="">read more</a>
                </div>
            </div>
        </div>