==
<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="welcome-attorney">
                    <div class="section-title">
                        <h1><span>Добро пожаловать!</span></h1>
                    </div>
                    <div class="welcome-text">
                        <p>111 Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion consectetur elit. Vesti bulum nec odio ipsum. </p>
                    </div>
                </div>
            </div>
        </div>