==
<section class="call-to-action-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dtc icon-box">
                    <i class="icon icon-Phone2"></i>
                </div>
                <div class="dtc text-one">
                    <h3>Get Free Legal Consultatnt: <span class="number">1800 245 6354</span></h3>
                </div>
                <div class="dtc text-two">
                    <h4>7 days a Week From : 8.00 am to 2.30 pm</h4>
                </div>
            </div>
        </div>
    </div>
</section>