==
<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="welcome-attorney">
                    <div class="section-title">
                        <h1><span>Ласкаво просимо!</span></h1>
                    </div>
                    <div class="welcome-text">
                        <p>Адвокатська компанія ЦЕНТР - ЛЕКС допомагає своїм Клієнтам системно вирішувати різні юридичні проблеми шляхом надання широкого спектру юридичних та консультаційних послуг. Ми є компетентними, принциповими та надійними юристами як для підприємств, установ і організацій, так і для фізичних осіб. Наші клієнти отримують тільки експертну юридичну допомогу та індивідуальний підхід. </p>
                    </div>
                </div>
            </div>
        </div>