==
<section class="call-to-action-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dtc icon-box col-md-1"><i class="icon icon-Phone2"></i></div>
                <div class="dtc text-one col-md-7" style="text-align: center; height: 44px; "><h3>Телефонуйте нам!   <span class="number">+380(98)700-89-18</span></h3></div>
                <div class="dtc text-one col-md-4" style="border-right: none;text-align: center;"><h3><span class="number">+380(44)593-19-81</span></h3></div>
            </div>
        </div>
    </div>
</section>