<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
    <div class="case-evaluation-form">
        <div class="case-evaluation-form-title">
            <h1>Зв'яжіться з нами та ми вирішемо вашу проблему</h1>
        </div>
        <div class="confirm-container">
        </div>
        <form class="flexiContactForm" role="form" method="post"
              data-request="onMailSentHome"
              data-request-update="'confirm': '.confirm-container'">
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" name="name" placeholder="Ім'я" required>
                </div>
                <div class="col-lg-6">
                    <input type="text" name="surname" placeholder="Прізвище">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="email" name="email" placeholder="Електронна Адреса" required>
                </div>
                <div class="col-lg-6">
                    <input type="tel" name="phone" placeholder="Телефон">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea placeholder="Повідомлення" name="body" required></textarea>
                </div>
            </div>
            <button type="submit" style="background: red;">Надіслати</button>
        </form>

    </div>
</div>
